[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # release: a hash containing data about new releases, if any.
  #%]

[% PROCESS global/header.html.tmpl
   title = "$terms.Bugzilla Main Page"
   header = "Main Page" 
   style_urls = [ 'skins/standard/index.css' ]
%]

[% IF release %]
  <div id="new_release">
    [% IF release.data %]
      [% IF release.deprecated %]
        <p>Bugzilla [%+ release.deprecated FILTER html %] is no longer
        supported. You are highly encouraged to upgrade in order to keep your
        system secure.</p>
      [% END %]

      <p>A new Bugzilla version ([% release.data.latest_ver FILTER html %])
      is available at
      <a href="[% release.data.url FILTER html %]">[% release.data.url FILTER html %]</a>.<br>
      Release date: [% release.data.date FILTER html %]</p>

      <p class="notice">This message is only shown to logged in users with admin privs.
      You can configure this notification from the
      <a href="editparams.cgi?section=general#upgrade_notification_desc">Parameters</a> page.</p>
    [% ELSIF release.error == "cannot_download" %]
      <p>The remote file <a href="[% constants.REMOTE_FILE FILTER html %]">
      [%~ constants.REMOTE_FILE FILTER html %]</a> cannot be downloaded
      (reason: [% release.reason FILTER html %]).<br>
      Either the remote server is temporarily unavailable, or your web server cannot access
      the web. If you are behind a proxy, set the
      <a href="editparams.cgi?section=advanced#proxy_url_desc">proxy_url</a> parameter correctly.</p>
    [% ELSIF release.error == "no_write" %]
      <p>The local XML file '[% constants.LOCAL_FILE FILTER html %]' cannot be created
      (reason: [% release.reason FILTER html %]).<br>
      Please make sure the web server can write into this directory.
    [% ELSIF release.error == "no_update" %]
      <p>The local XML file '[% constants.LOCAL_FILE FILTER html %]' cannot be updated.
      Please make sure the web server can edit this file.</p>
    [% ELSIF release.error == "no_access" %]
      <p>The local XML file '[% constants.LOCAL_FILE FILTER html %]' cannot be read.
      Please make sure this file has the correct rights set on it.</p>
    [% ELSIF release.error == "corrupted" %]
      <p>The local XML file '[% constants.LOCAL_FILE FILTER html %]' has an invalid XML format.
      Please delete it and try accessing this page again.</p>
    [% ELSIF release.error == "unknown_parameter" %]
      <p>'[% Param("upgrade_notification") FILTER html %]' is not a valid notification
      parameter. Please check this parameter in the
      <a href="editparams.cgi?section=general#upgrade_notification_desc">Parameters</a> page.</p>
    [% END %]
  </div>
[% END %]

<div id="page-index">
  <div id="left-index">
    <h1 id="welcome"> Welcome to [% terms.Bugzilla %]</h1>
    <div class="intro">[% Hook.process('intro') %]</div>
    <div class="fbsd_quick_actions">
      <p>
        Use the quick links below, if you want to report a defect or
        update.
      </p>
      <ul>
        <li>
          <a class="enter_bug" href="enter_bug.cgi?component=Individual%20Port%28s%29&product=Ports%20%26%20Packages"><span>Report an update or defect to a port</span></a>
        </li>
        <li>
          <a class="enter_bug" href="enter_bug.cgi?product=Base%20System"><span>Report an issue with the base system</span></a>
        </li>
        <li>
          <a class="enter_bug" href="enter_bug.cgi?product=Documentation"><span>Report an issue with the FreeBSD documentation or website</span></a>
        </li>
      </ul>

      <p>If the above quick links do not suit your needs or if you have an issue in a different area:</p>
      <ul>
        <li>
          <a class="enter_bug" href="enter_bug.cgi"><span>File [%= terms.aBug %]</span></a>
        </li>
      </ul>
    </div>

    <div>
      <p>Or check, if your issue has been reported already:</p>
      <form id="quicksearchForm" name="quicksearchForm" action="buglist.cgi">
        <div>
          <input id="quicksearch_main" name="quicksearch" title="Quick Search"
                 placeholder="Enter [% terms.abug %] # or some search terms"
                 autofocus required>
          <input id="find" type="submit" value="Quick Search">
          <a href="page.cgi?id=quicksearch.html" title="Quick Search help">[?]</a>
          <a href="javascript:window.external.AddSearchProvider('[% urlbase FILTER html %]search_plugin.cgi')"
             style="text-align:center;display:block;">
            Install the Quick Search plugin
          </a>
        </div>
      </form>
      <ul class="additional_links">
        [% Hook.process('additional_links') %]
      </ul>
    </div>

    <div>
      <ul>
        <li>
          [% terms.Bugs %] reported in the
          <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=24h">last 24 hours</a>
          [% title = BLOCK %][% terms.Bugs %] reported in the last 24 hours[% END %]
          <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=24h&amp;ctype=atom&amp;title=[% title FILTER uri %]"
             class="rss"></a> or <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=7d">last 7 days</a>
          [% title = BLOCK %][% terms.Bugs %] reported in the last 7 days[% END %]
          <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=7d&amp;ctype=atom&amp;title=[% title FILTER uri %]"
             class="rss"></a>
        </li>
        <li>
          [% terms.Bugs %] changed in the
          <a href="buglist.cgi?chfieldfrom=24h">last 24 hours</a>
          [% title = BLOCK %][% terms.Bugs %] changed in the last 24 hours[% END %]
          <a href="buglist.cgi?chfieldfrom=24h&amp;ctype=atom&amp;title=[% title FILTER uri %]"
             class="rss"></a> or <a href="buglist.cgi?chfieldfrom=7d">last 7 days</a>
          [% title = BLOCK %][% terms.Bugs %] changed in the last 7 days[% END %]
          <a href="buglist.cgi?chfieldfrom=7d&amp;ctype=atom&amp;title=[% title FILTER uri %]"
             class="rss"></a>
        </li>
      </ul>
    </div>
  </div>

[% IF user.login %]
  <div id="right-index">
    <h3>Latest [% terms.Bugzilla %] Changes</h3>
    <div class="news">
      [% INCLUDE news.html.tmpl %]
    </div>
[% END %]
    <div style="clear: both;"></div>

    <div class="outro">[% Hook.process('outro') %]</div>
</div>

[% PROCESS global/footer.html.tmpl %]
