/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

.ih_history, .ih_inlinehistory {
    font-size: 85%;
    border-top: 1px solid #C8C8BA;
    border-bottom: 1px solid #C8C8BA;
    border-radius: 0.25em;
    background-color: #EEE !important;
    padding: 10px !important;
    color: #444;
}

.bz_comment.ih_history {
    padding: 5px 5px 0px 5px
}

.ih_history_item {
    margin-bottom: 5px;
}

.ih_hidden {
    display: none;
}

.ih_deleted {
    text-decoration: line-through;
}
