[% PROCESS global/variables.none.tmpl %]
[% PROCESS global/header.html.tmpl
   title = "Block Spammers"
   style_urls = [ "extensions/SpamDelete/web/style.css",
                  "skins/standard/buglist.css"]
%]

<div id="bugzilla-body">
  <h1>Spammer blocked</h1>
  <p>The user [% spamuser %] was blocked and their PRs/comments were marked as spam.</p>
  <p><a href="[% urlbase FILTER none %]page.cgi?id=searchspam.html">Back to search page</a><p>
</div>
