table#deletebugs {
    width: 100%;
    border: 1px solid #DDD;
    background-color: #EEE;
    border-collapse: collapse;
}

.header {
    font-weight: bold;
    text-align: left;
}

th.expand {
    width: 99%;
}

tr th, tr td {
    white-space: nowrap;
    padding: 0.5em;
}