body {
    font-family: Verdana, sans-serif;
    background-image: none;
    background-color: #fff;
    color: #000;
}

h1, h2, h3, h4, h5 {
    color: #900;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
}

a {
    color: #900;
}
a:visited {
    color: #400;
}
a:hover {
    color: #000;
}

/* header and footer */
#titles {
    background-color: #900;
}
.links li a {
    color: #666;
    text-decoration: none;
    font-weight: bold;
}
.links li a:hover {
    color: #900;
}
#links-saved .links li a {
    font-weight: normal;
}
#header .links {
    background-color: #eee;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}
#footer {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Input elements */
form input {
    border: 1px solid #DADADA;
}
form input[type="submit"] {
    background-color: #eee;
}
select {
    border: 1px solid #DADADA;
}

/* Bug comments */
.bz_comment_head, .bz_first_comment_head {
    padding-top: .5em;
    padding-bottom: .5em;
}

/**
 * The bugzilla authors use a table to align a button on several forms
 * within the preferences - we can't simply format tables our way...
 */
/*
table {
    background-color: #EEE;
    border-spacing: 0px;
    border-width: 1px 1px 0px;
    border-style: solid solid none;
    border-color: #CACACA #CACACA;
    border-image: none;
    border-collapse: collapse;
}
*/
